doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title CDN performance in numbers - CDNperf
    meta(name='description', content='CDNperf measures JavaScript CDN performance and helps you get started.')
    meta(name='viewport', content='width=1200')
    link(rel='shortcut icon', href='/images/favicon.ico')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/tooltip/1.2.0/tooltip-theme-arrows.css')
    link(rel='stylesheet', href='/css/all.css')
    script(src='/js/vendor/modernizr.js')
  body(ontouchstart='')
    <!--[if lt IE 9]><div class="browserupgrade">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div><![endif]-->

    nav
      .logo-container
        a(href='/')
            img.logo(src='/images/bolt.png', alt='CDNperf', width='50', height='50')
            .text
                .first CDN
                .second perf

      .social-container
        a.twitter-follow-button.social-follow(href='https://twitter.com/cdnperf', data-show-count='false') Follow @cdnperf
        a.twitter-share-button.social-share(href='https://twitter.com/share', data-text='#cdnperf - #CDN performance in numbers', data-count='horizontal') Tweet

      .nav-container
        ul.nav-items
          li.nav-item
            a(href='/api') API
          li.nav-item
            a(href='/resources') Resources
          li.nav-item
            a.issueTracker(href='https://github.com/bebraw/cdnperf/issues', target='_blank') Issues
          li.nav-item
            a(href='/about') About

    header
      h1 Finds you fast and reliable JavaScript CDNs
      h2 that make your websites snappy and happy!

      block header

    article
      block content

    article
      .partners
        h2 Our Partners:
        .partners-container
          a.partner(href='http://www.jsdelivr.com/')
            img(src='/images/jsdelivr.png', alt='jsDelivr', width='198', height='48')

          a.partner(href='http://jster.net/')
            img(src='/images/jster.png', alt='JSter', width='138', height='48')

          a.partner(href='http://survivejs.com/')
            img(src='/images/survivejs.png', alt='SurviveJS', width='230', height='48')

          a.partner(href='https://www.pingdom.com/')
            img(src='/images/pingdom.png', alt='Pingdom', width='152', height='48')

    footer
      div
        a(href='http://prospectone.pl/') © 2016 Prospect One Sp z.o.o.
        a(href='http://prospectone.pl/' class='pull-right')
          img(src='/images/prospect-one.png')

    script(src='/js/vendor/jquery.js')

    script
        :uglify
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '#{ga}', 'cdnperf.com');
            ga('send', 'pageview');

            (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
            mixpanel.init("#{mixpanel}");

            $(function() {
                var val = localStorage.getItem('index');
                if(val) $('.indexUrl').attr('href', val);
            });

    script(async src='//platform.twitter.com/widgets.js')

    block js
