doctype html
//if lt IE 7
    <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
    <html class="no-js lt-ie9 lt-ie8">
//if IE 8
    <html class="no-js lt-ie9">
// [if gt IE 8] <!
html(class="no-js", lang="en")
    // <![endif]
html
    head
        title CDN performance in numbers - CDNperf

        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(description='CDNperf measures JavaScript CDN performance and helps you get started.')
        meta(http-equiv='content-type', content='text/html;charset=UTF-8')
        meta(name='viewport', content='width=1200')

        link(rel='stylesheet', href='css/all.css')
   body(ontouchstart='')
        //if lt IE 7
            .browsehappy
            :markdown
                You are using an outdated browser. Please [upgrade your browser](http://browsehappy.com/) to improve your experience.

        section.intro.left
            a.sitelogo(href='/')

            :markdown
                **CDNperf** finds you fast and reliable JavaScript CDNs that make your websites snappy and happy!

            block sidebar

            footer

                .host
                    a(href='https://bluevm.com/') Hosted by BlueVM

                .sponsors
                    a.sponsor(href='http://www.jsdelivr.com/')
                        img(src='images/jsdelivr.png', alt='jsDelivr')

                    a.sponsor(href='http://jster.net/')
                        img(src='images/jster.png', alt='JSter')

                    a.sponsor(href='https://www.pingdom.com/')
                        img(src='images/pingdom.png', alt='Pingdom')

                ul.links
                    li
                        a(href='/api') API
                    li
                        a(href='/resources') Resources
                    li
                        a.issueTracker(href='https://github.com/bebraw/cdnperf/issues', target='_blank') Issues
                    li
                        a(href='/about') About      

                .twitter
                    a.twitter-follow-button(href='http://twitter.com/cdnperf', data-show-count='false') Follow @cdnperf
                    a.twitter-share-button(href='http://twitter.com/share', data-text='#cdnperf - #CDN performance in numbers', data-count='horizontal') Tweet
                    
                        

        section.main.right
            .content
                block content

        #bugira_widget(style='position: fixed; right: 10px; bottom: 0px;')

        script(src='js/vendor/jquery.js')
        script(src='js/vendor/jquery.caro.js')
        script(src='js/vendor/modernizr.js')

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '#{ga}', 'cdnperf.com');
            ga('send', 'pageview');

            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            var __bugira_config = {"theme":"navy","texts":{"button":"Feedback"},"api_key":"#{bugira}"};
            (function() {var w = document.createElement('script'); w.type = 'text/javascript'; w.async = true; w.src = 'https://bugiracdn.appspot.com/bugira-widget.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(w);})();

            (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
            mixpanel.init("#{mixpanel}");

            $(function() {
                var val = localStorage.getItem('index');
                if(val) $('.indexUrl').attr('href', val);
            });

        script(src='http://platform.twitter.com/widgets.js')

        block js
